.sidebar{
    color: white;
    width: 150px;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 16px;
}
.home-block, .personal-block{
    font-weight: 500;
    cursor: pointer;
}
.home{
    display: flex;
    margin-bottom: 20px;
    gap: 18px;
}
.shorts, .you, .channel, .playlists, .history, .videos, .courses, .watch-later, .liked-videos{
    display: flex;
    gap: 18px;
    margin-bottom: 20px;
}
.you{
    margin-top: 20px;
    font-size: 19px;
}
.subscription {
    display: flex ;  
    margin-bottom: 20px;
    gap: 12px;
}
.subscription-text {
    margin-top: 5px;
}
hr{
    width: 150px;
    color: hsla(0, 0%, 100%, .08) v;
}
